form {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: #d0d4D5;
    border-radius: 10px;
}